
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

/* DaisyUI plugin with light theme disabled */
@plugin "daisyui" {
  themes: dark --default;
}


@theme {
  --color-background: #2a2a2a;
  --color-dark: #212121;
  --color-light: #3c3c3c;
  --color-input: #262626;
  --border-background: #ffffff1a;
  --font-display: 'Poppins', sans-serif;
  --color-selected: #211f1e;
}
::placeholder {
  opacity: 0.3; /* Ensures full opacity, addressing Firefox's default lower opacity */
}

body {

  color: var(--neutral-content);
  
}
:root {
  --tw-bg-opacity: 1;
  background-color: var(--color-background);
}

h1, h2, h3, h4, h5, h6 {

  font-family: var(--font-display);
  font-weight: thin;
}

body {
  font-family: 'Roboto', sans-serif;
}
option:hover {
  background-color: var(--color-light);

}

h3 {
}

body {
  height: 100vh;
}
input {
  background-color: var(--color-input);
}
.input input {
  background-color: transparent;
}
label.input {
  background-color: var(--color-input);

}
.border {
  border-color: var(--border-background);
  border-radius: 0.75rem;
  border-width: 1px;
}
textarea:focus, input:focus{
    outline: none;
}
.card {
  transition: background-color 0.2s ease;
}

/* override  default background colors, 
and apply when input is selected on card */
.card:has(:focus-within), .card:hover {
  background-color: var(--color-selected);
}
.btn {
  background-color: var(--color-input);
  border-color: var(--border-background);
}
#clear-polyline-button:hover {
  background-color: white;
}
#clear-polyline-button {
  background-color: white;
}

.btn-map {
  background-color: white;
}

.fieldset  label.input:has(:invalid) ~ .validator-hint  {
  color: var(--color-error);
  visibility: visible;

}

@theme {
  --animate-wiggle: wiggle 0.1s ease-in-out infinite;
  @keyframes wiggle {
  0% {
    transform: rotate(-7deg);
  }
  
  33% {
    transform: rotate(7deg);
  }
  
  66% {
    transform: rotate(-7deg);
  }
}
}

/* if the main title is hovered, wiggle the bolt icon */
h1:has(.bolt-icon):hover .bolt-icon {
  animation: wiggle 0.35s ease-in-out;
} 